<!DOCTYPE html>
<html>
<head>
    <title>The New Boston</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/header.ejs %>

    <h3><%= videodata.categoryName %></h3>

    <ul>
        <% videodata.categories.forEach(function(item){
            var link = path.join("https://thenewboston.com/videos_food.php?", item.categoryID); %>
            <li><a href="<%= link %>"><%= item.categoryName %></a></li>
        <% }); %>
        </ul>

    </body>
    </html>
