<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= name %></p>

    <ul>
        <% for(var i = 0; i < 5; i++){ %>
        <li>Tuna</li>
        <% } %>
    </ul>

  </body>
</html>
